/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-nov-2017, 9:55:06
    Author     : HUAYLLANI
*/
body{
    background-color: wheat;
}

.entorno{
    position: absolute;
    top: 20px;
    left: 40%;
    margin: 15px;
    background-color: grey;
    height: 125px;
    border-radius: 5px;
}

.entorno div {
    height: 50%;
    width: 50%;
    margin: 2px;
}

.head{
    height: 40px;
    font-size: 25px;
    text-align: center;
}

.sector1 {
    position: relative;
    float: right;
}

.sector1 input {
    margin: 2px;
    text-align: center;
}

input[name="num1"]{
    float: left;
    width: 35px;
    height: 30px;
}

input[name="num2"]{
    float: right;
    width: 35px;
    height: 30px;
}

input[name="result"]{
    width: 83px;
    height: 30px;
}
.sector2 {
    position: absolute;
    float: left;
}

.sector2 input {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

